
  
  .movieInfo{
    width: 250px;
    padding: 15px;
  }
  
  .movieInfo h4{
  margin: 0px;
  }
  
  .movieText{
    background-color: rgba(65, 81, 36, 0.7);
  }
  
  .movieImg{
    width: 100%;
  }
  
  .Loading{
    font-size: 50px;
    font-weight: 700;
  }